@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    overflow-x: hidden;
}
input{
    outline: none;
    padding: 3px;
}

/* header */

.nav-item{
margin: 0 8px;
}
.nav-item a{
    color: #fff !important;
    font-weight: 500;
    font-size: 18px;
}
.nav_img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}




/* another section */

.custombar {
	max-width: 184px;
	height: calc(100% - 75px);
	align-self: flex-start;
	overflow-y: scroll;
	top: 102px;
    /* right: 0; */
	position: fixed;
	background-color: #141414;
    color: #fff;
	height: calc(100% - 87px);
}

#traitshide{
    display: none;
}
/* .overflow100{
    display: flex;
} */

.side_box_img img{
    width: 150px;
    height:150px;
    border-radius:50%;
}
.search{
    padding: 15px;
}
.go{
	padding: 0 10px;
	/* color: #000000; */
	background-color: #c06dc0;
	color: #fff;
	border: none;
	margin: 6px auto;
}
.go:hover{
    background-color: #fff;
    color: #000000;
    transition: 0.2s;
}
.method{
    margin-bottom:10px
}
.check{
    margin-top:5px 
}




/* modals */  


.offcanvas-end {
	top: 0;
	right: 0;
	width: 500px;
	border-left: 1px solid rgba(0,0,0,.2);
	transform: translateX(100%);
}
.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: .3rem;
	outline: 0;
}

.modal-dialog {
    	max-width: 500px;
margin: 0;
  transform: translate(0,0);
display: flex;
align-items: stretch;
-webkit-box-align: stretch;
/* height: 100%; */
}

.modals_head a{
    text-decoration: none;
    color: #000000;
}
.modals_head a:hover{
   color: #7b94c9;
}

.color-box{
      margin: 0px 10px 15px 10px;
      border-color: black;
     border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1rem;
    padding: 10px;
}
.color-box h4{
    text-align: center;
}
.Score{
    text-align: center;
}
.icn:hover{
    color: #7b94c9;
}
.color-box p{
    margin-bottom: 0;
    font-size: 20px;
}
.color-box sapn{
    font-size: 32px;
}

.color-box img {
	width: 100%;
	min-width: 142px;
}
.color_txt {
	font-size: 1.5rem;
	text-align: center;
}
.disclaimer{
        font-size: 16px;
        text-align: justify;
        margin-top: 10px;
        padding-left: 5px;
        padding: 5px;
        font-weight: 500;
}
.sidebar{
    display: flex;
}
.first_side{
    width: 50%;
}
.second_side{
    width: 50%;
}
.clr_txt{
    color: #007aff;
}
.txt_num{
    background: #007aff;
color: white;
border-radius: 5px;
width: 47px;
text-align: center;
font-size: 0.9rem;
}



/* sec */

    .txt_boxx {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding-left: 70px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

.top_right{
    width: 100%;
    height: 70vh;
    /* padding-left: 200px; */
    background-color: #141414;
    color: #fff !important;
    display: flex;
    justify-content: center;
}
.txt_clr{
    color: #c06dc0;
}
.mobilemain{
    max-width:100%; 
    /* padding-right:10px; */
    padding-left:175px;
    width:calc(100%-175px);
    padding-top:20px;
    margin-top: 20px;
}

.grid {
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(auto-fill,155px);
	justify-content: center;
}
.rank{
    padding:0px 5px 0px 5px; 
}
.showbox {
    height:220px;
	width: 142px;
	margin: 10px 10px 10px 10px;
	border-color: black;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sec_img{
    text-align:center;
}
.boximage {
	max-width: 138px;
	max-height: 138px;
}
.zoom:hover {
	transform: scale(1.1);
    transition: 0.2s;
}
.product_num{
    width:135px;
    text-align:right;
    padding:0px 5px 0px 5px;
    display:block"
}
.product_rate{
    width:135px;
    text-align:right;
    padding:0px 5px 0px 5px;
    display:block"
}
#mainImage{
    height:140px;
    width:140px; 
    margin:auto;
    background:undefined"
}
#worldType{
    font-size:0.8rem;
    width:140px; 
    padding: 4px; 
}
option{
    text-transform: capitalize;
}

/* footer */

.last_sec{
    text-align:center;
    width:100%;
    padding-top:30px;
    padding-left: 175px;
    padding-bottom: 50px;
}
.last_txt{
    font-size:0.5rem;
}


/* responsive */


@media(max-width:991px){
    .top_right {
        height: 50vh;
    }
    .txt_boxx {
        width: 80%;
        margin-top: 80px;
    }
}



@media(max-width:575px){
    .txt_boxx {
        width: 60%;
        padding-left: 0px; 
        margin-top: 20px;
    }
    .txt_boxx h1{
        font-size: 20px;
    }
    .txt_boxx p{
    font-size: 12px;
    margin-top: 20px;
    }
    .top_right {
        height: 30vh;
    }  
    .mobilemain {
       padding-left: 0;
        margin-top: 630px;
    }
    .custombar {
        max-width: 100%;
        height: auto !important;
        overflow: none;
        align-self: flex-start;
        position: absolute;
        background-color: #141414;
        color: #fff;
        top: 285px !important;
        text-align: center;
    }
    .color_txt {
        font-size: 1rem;
    }
    .color-box {
        padding: 5px;
    }
    .disclaimer {
        font-size: 13px;
    }
    .sidebar {
        display: block;
    }
    .first_side {
        width: 100%;
    }
    .second_side {
        width: 100%;
    }
    .color-box img {
        width: 90%;
    }
    .offcanvas-end {
        width: 575px;   
    }


    #worldType {
        font-size: 0.8rem;
        width: 100%;
        margin: 5px 0;
        padding: 4px;
    }
    .last_sec {
        padding-left: 0;
    }
    #traitshide{
        display: block;
        padding: 0 15px;
        border: none;
        background-color: #c06dc0;
        color: #fff;
        border-radius: 3px;
        margin: 0 auto;
    }
    .traits{
        display: none;
    }
    #traitsxyzhahaha{
display: none;
    }
}

